.breadcrumb {
border-bottom:1px solid #eee;
text-decoration:none;
padding:10px 0;
color:#565655;
font-size:13px
}

.breadcrumb a {
border-bottom:1px solid #eee;
text-decoration:none;
padding:10px 0;
color:#565655;
font-size:13px
}.border_change .owl-carousel .owl-wrapper-outer{ width:101%!important}
.border_change  .mask_box{ width:98% !important}
.tabs_section{ clear:both}
.tabs_side{ float: left;
width: 510px;}
.breadcrumb a:hover {
color:#F90
}

.breadcrumb i {
color:#97a2ad;
padding:0 10px
}
.breadcrumb span {
color:#ffb11b
}
.arrow {
background:url(../images/arrow_breadcrmb.jpg) no-repeat 6px;
width:20px
}
#right {
background:#f8f8f8;
border:1px solid #e0e0e0;
overflow:hidden;
padding:10px;
margin-top:20px;
float:right;
width:263px;
}
.slider_right {
height:367px;
width:263px;
}
.quick_title {
font-size:14px;
color:#3c3c3c;
text-decoration:none;
margin-bottom: 10px;
float: left;
width:263px;
display:block;
border-bottom: 1px solid #e5e5e5;
}
.quick_title span {
color: #3c3c3c;
line-height: 30px;
text-transform: uppercase;
font-family: 'Open Sans' !important;
font-weight: 600;
font-size: 14px;
float: left;
border-bottom: 4px solid #ff9300;
position: relative;
bottom: -2px;
}
.list {
width:263px;
height:340px;
margin-top:20px;
}
.items {
width:110px;
float:left;
margin-bottom:40px;
}
.txt_left {
float:left;
width:135px;
padding-left:10px;
}
.name {
font-size:14px;
color:#666666
}
.sections {
clear:both
}
.price {
font-size:14px;
line-height:20px; padding-top:10px; padding-bottom:10px;
color:#666;

}
.price small {
float:left;
margin-right:10px;
}
.price strong {
float:left;
margin-right:10px;
}
.price span.dis {
font-size: 14px;
text-decoration: line-through;
color: #969696;
padding-left: 20px;
}
.star {
height:20px;
}
.cart_right {
padding:5px;
display:block;
font-size:13px;
transition: background-color 0.5s ease;
color:#666;
border:1px solid #cdcdcd;
clear:both;
margin-top:10px;
text-decoration:none
}
.cart_right i {
margin-right:10px;
}
.cart_right:hover {
color:#fff;
background:#FF9900;
border:1px solid #fff
}
.compare_product {
display:block;
clear:both;
margin-bottom:20px;
}
.heading1 {
width: 244px;
color: #fff;
clear:both;
background: #565655;
font-size:14px;
font-weight:400;
margin-top: 30px;
padding: 10px 0px 10px 20px;
}
.compare_products {
background: #fff;
margin-top: 10px;
border: 1px solid #eee;
padding: 4px 0px 4px 4px;
width: 259px;
height: 68px;
margin-bottom: 20px;
}
.compare_product img {
float: left;
overflow: auto;
}
.name_comp {
float: left;
width: 120px;
color:#000;
padding-left: 10px;
font-size:14px;
font-weight:500;
vertical-align: middle;
color:#000;
text-decoration:none;
padding-top: 17px;
}
.name_comp a {
color:#000;
text-decoration:none;
}
.name_comp a:hover {
color:#333;
text-decoration:none
}
.cross_icon {
font-size:14px;
font-family:Tahoma, Geneva, sans-serif;
padding-right:10px;
float:right;
text-decoration:none;
color:#333333
}
.cross_icon a {
font-size:14px;
font-family:Tahoma, Geneva, sans-serif;
float:right;
text-decoration:none;
color:#333333
}
.cross_icon a:hover {
color:#666666
}
.compare_btn {
color: #565655;
background: #FFFFFF;
text-transform:uppercase;
padding: 5px 20px 5px 20px;
margin: 0px auto;
display: block;
text-align: center;
text-decoration: none;
width: 80px;
border: 1px solid #e0e0e0;
transition: background-color 0.5s ease;
font-size: 12px;
}
.compare_btn:hover {
background:#FF9900;
color:#FFFFFF
}
.compare_btn1 {
color: #565655 !important;
background: #FFFFFF;
text-transform:uppercase;
padding: 5px 20px 5px 20px !important;
margin: 0px auto;
display: block;
text-align: center;
text-decoration: none;
width: 80px !important;
border: 1px solid #e0e0e0;
transition: background-color 0.5s ease;
font-size: 12px !important;
clear:both;

}
.compare_btn1:hover {
background:#FF9900;
color:#FFFFFF !important
}
.banner_block {
clear:both;
margin-top:20px;
margin:0px auto;
width:260px;
}
.banner_block img {
margin-bottom:10px;
}
.left_section label {
clear:both;
width:250px;
display:block
}
.left_section input {
background:#FFF;
margin-bottom:20px;
color:#868686;
font-size:12px;
border:1px solid #eeeeee;
padding:4px 0px 4px 10px;
line-height:30px;
margin-top:3px;
width:250px;
}
.left_section input:focus {
outline:0
}
.left_section {
margin-bottom:30px;
padding:0px;
margin-top:10px;
font-size:14px;
color:#565655;
line-height:22px;
}
.small {
width:100px !important;
float:left
}
.two {
float: left;
width: 36px;
text-align: center;
line-height: 46px;
}
.tabP {
float: left;
padding: 10px;
width: 530px;
}
.video_section {
float: left;
width: 300px;
margin-right: 9px;
display: block;
}
.wholesaler_section {
float:right;
}
.landing {
width:98% !important;
padding-right:2%;
}
.reward-section ul.rewards-points li {
background: url("../images/star-reward.png") no-repeat scroll left center transparent;
color: #362223;
font: 400 28px 'Open sans';
margin: 15px 0;
padding: 0 0 0 35px;
}
.tab {
clear:both
}
.parent_top {
margin-top: 10px;
padding:10px 0px;
color: #000;
overflow:hidden;
border-bottom: 1px solid #eee;
margin-bottom: 10px;
}
.parent_top li.first {
background: none;
padding-left: 0;
color:#000000
}
.parent_top li {
float: left;
font-size:13px;
color: #f4a137;
background: url(../images1/left_arrow1.png) no-repeat 0 center;
padding:0 5px 0 15px
}
.parent_top li a {
float: left;
color: #000;
}
.parent_top li:last-child {
color:#ffb11b !important
}
.parent_child_sec {
float: left;
width: 100%;
}
.parent_child_left {
float: left;
margin-right: 10px;
min-height: 100px;
padding-right: 10px;
width: 238px;
}
.zoomPad img {
border:1px solid #eee;
padding:1px
}
.left_product_gradient {
float: left;
margin-top: 0;
padding: 0 0 0 1px;
width:842px;
}
.product_sec {
width:1142px;
}
.parent_top {
margin-top: 10px;
padding-left: 20px;
color:#000;
border-bottom:1px solid #eee;
margin-bottom: 10px;
}
.products_detail {
float: left;
position: relative;
width: 563px;
margin:0px;
}
.border_btm{border-bottom:1px solid #eee;}
.txt_price{color: #e43137;
font-size: 22px;
line-height: 46px;
font-weight: 600;
clear: inherit;}
.outer_blog {
padding: 10px 0 5px;
text-align: left;
border:0px;

}
.top_casual {
width:570px;
}
.tabs_side ul li.active a {
background: #565655;
font-size:15px;
line-height:22px;
font-family:'Open Sans', sans-serif!important;
color: #fff;
}
.tabs_side ul li a {
color: #000;
float: left;
-moz-transition:color .2s ease-in;
font-size:15px;
line-height:22px;
font-family:'Open Sans', sans-serif!important;
-o-transition:color .2s ease-in;
-webkit-transition:color .2s ease-in;
background:#FFFFFF;
margin-right: 17px;
border:1px solid #eeeeee;
padding: 7px 19px;
}
.tabs_side .tab_content {
font-size:13px;
float: left;
padding:20px;
color:#999;
border: 1px solid #eee;
font-family:'Open Sans', sans-serif!important;
height: auto;
min-height: 140px;
}
#frmMessage {
border:1px solid #d2d2d2;
padding:10px;
font-size:15px;
line-height:22px;
font-family:'Open Sans', sans-serif!important;
border-radius:none!important
}
.recommmend_blog li {
width:100% !important
}
#right .owl-carousel .owl-wrapper-outer {
clear:both
}
#right .items img {
height:127px;
width:104px;
}
#right .inner_rating.avg_rating {
width: 100%;
margin-left: 0px;
margin: 0px;
margin-top: 0px;
height:20px;
margin-bottom: 17px;
float: left;
}
.wholesaler_section {
float:right;
color:#006feb;
font-size:14px;
line-height:33px;
}
.wholesaler_section a {
float:left;
color:#006feb;
font-size:14px;
}
.wholesaler_section a:hover {
float:left;
color:#565655;
font-size:14px;
}
.quick_title1 {
width:780px;
margin-bottom: 10px;
float: left;
clear: both;
margin-top: 30px;
border-bottom: 1px solid #e5e5e5;
padding-right: 64px;
}
.quick_title1 span {
color: #3c3c3c;
line-height: 30px;
text-transform: uppercase;
font-family: 'Open Sans' !important;
font-weight: 600;
font-size: 14px;
float: left;
border-bottom: 4px solid #ff9300;
position: relative;
bottom: -2px;
}
#right #owl-demo .item {
color: #FFF;
text-align: center;
}
#right .owl-prev:hover {
opacity:0.7
}
#right .owl-next:hover {
opacity:0.7
}
#right .owl-prev a {
text-indent:-9999px;
}
#right .owl-prev {
background:url("../images/arrow_left_1.jpg") no-repeat;
top: 0px;
overflow: hidden;
text-indent: 100%;
float: r;
right: 0px;
width: 30px;
float: left;
}
#right .owl-next {
background:url("../images/arrow_left_2.jpg") no-repeat;
overflow:hidden;
text-indent:100%;
top:0px;
}
#right .owl-buttons {
position: absolute;
top: 0px;
width: 140px;
margin-left: 80%;
}
.resp-tab-content {
border:none !important;
padding-top:0px;
}
.navi1 {
width: 75px;
float: right;
margin-top: 0px;
position: absolute;
margin-top: 20px !important;
margin-left: 68%;
}
.jspDrag {
background: #565655 url('../images/scroll_icon.png') no-repeat center center;
cursor: pointer;
left: -4px;
position: relative;
top: 0;
width: 12px;
border-radius:40px!important
}
.jspHorizontalBar .jspTrack, .jspHorizontalBar .jspDrag {
float: left;
height: 100%;
}
.jspTrack {
background: #e6e6e6;
left: 5px;
position: relative;
width: 5px;
}
.jspArrow {
background: url(../images/arrow-top-noral.png) no-repeat;
cursor: pointer;
display: block;
text-indent: -20000px;
}
.jspArrow.jspArrowUp {
background: url(../images/arrow-top.png) no-repeat;
cursor: default;
}
.jspArrow.jspArrowDown {
background: url(../images/arrow-bottom.png) no-repeat;
cursor: default;
margin-top: 5px;
padding-bottom: 7px;
}
.jspVerticalBar .jspArrow {
height: 17px;
}
.jspHorizontalBar .jspArrow {
float: left;
height: 100%;
width: 16px;
}
.jspVerticalBar .jspArrow:focus {
outline: 0;
}
.jspCorner {
background: #eeeef4;
float: left;
height: 100%;
}
.customer_rating {
margin-top:30px !important;
}
.ad {
float: left;
height: 207px;
margin-left: 3px;
margin-top: 13px;
width: 252px;
}
.ad img {
width:251px;
}
.compare_btn_11{ clear:both}
.compare_btn_11 input{padding:5px 20px;
display:block; cursor:pointer; cursor:hand; line-height:20px;
font-size:12px;
transition: background-color 0.5s ease;
color:#666;
border:1px solid #cdcdcd;
clear:both;
margin-top:10px;
text-decoration:none; margin-left:17%; width:130px;}
.compare_btn_11 input:hover{color:#fff;
background:#FF9900;
border:1px solid #fff}
.new_heading1{ margin-top:10px;}
.bottom_wholesale{ margin-left:30px;}
.rating, .rating_home {
float: left;
height: 15px;
width: 300px;
}
.quick_title_1{width:773px;margin-bottom:10px;float:left;clear:both;border-bottom:1px solid #e5e5e5;padding-right:64px}
.quick_title_1 span {
border-bottom: 4px solid #5c5c5c;
bottom: -2px;
color: #3c3c3c;
float: left;
font-family: "Open Sans" !important;
font-size: 18px;
font-weight: 600;
line-height: 30px;
position: relative;

}
.package_price {

	min-height: 233px;
width: 240px;
display: table-cell;
vertical-align: middle;
}ul.offer_sec {
	display:table-cell

}

.offer_sec li .product_border {

	float: none; background:#fff; padding:5px;
	text-align: center; margin:0px auto; width:104px; display:block
}
.last_secon {
	font-size: 45px;
 float:left; line-height:200px;
}
.offer_sec li .package_contion {
	float: left; padding:10px 20px 10px 20px; background:#fff;
width: 133px;border: 1px solid #eeeeee;
word-wrap: break-word; margin-bottom:20px;
margin-left: 21px;
margin-right: 24px;
}
.offer_sec li{ float:left; }
.kuchbhee .add_cart_link {
	background: #ff9300;
	float: none;
	margin: 0 15px;
	padding: 7px 34px 8px 30px;
}
.kuchbhee .add_cart_link:hover{ opacity:0.7}
.product_border:last-child{ border:2px solid #000 !important}
.package_bg small {
	color: #3c3c3c; font-size:22px; font-weight:600; line-height:48px;
	font-family: "Open Sans" !important;
	padding: 0 0 0 12px;
}
.kuchbhee {
	display: block;
	padding-top: 31px;
margin: 0px auto;
}
.equal_icon1{display: table;
position: absolute;
font-size: 33px;
margin-left: -30px;
margin-top: 7%;}
.package_bg {
	float: left;
height: 258px;
background: #fff; width:231px;
text-align: center;
padding: 5px;
border: 1px solid #eee;
}
.offer_price{color: #fff;
background: #8d8d8d;
text-align: center;
width: 231px;
line-height: 30px;}
.equel_sec {

	float: left;
	font-size: 45px;
	min-height: 188px;
	width: 26px;
}
.vedio_content_area{width: 470px;
float: right;
margin-right: 0px;
margin-left: -20px;
padding-right: 50PX; }


