body{background:#fff!important;color:#423d3d;font-family:'Open Sans',sans-serif!important;text-align:left}
.todayOffer_1_n{width:273px;float:left;margin-top:10px}
.bannr_1{margin-bottom:20px;margin-top:4px;clear:both;height:170px;width:290px}
.bannr_2{margin-top:20px;clear:both;height:268px}
.footer_section{background:#f2f2f2;height:auto;overflow:auto;color:#525151;clear:both;border:1px solid #dedede;font-size:12px;padding:20px 0}
.footer_section .wrapper{width:1140px;margin:0 auto}
.footer_section .wrapper h5{font-size:14px;font-weight:600;line-height:30px;text-transform:uppercase}
.footer_section .wrapper .sec_1{width:16%;margin-bottom:20px;float:left;margin-right:16px}
.footer_section .wrapper .sec_1 li{color:#525151;float:left;width:100%;line-height:25px;text-decoration:none}
.footer_section .wrapper .sec_1 li a{color:#525151;line-height:25px;text-decoration:none}
.footer_section .wrapper .sec_1 li a:hover{text-decoration:none;color:#000}
.footer_section .wrapper .sec_1 li i{padding-right:5px;font-size:14px;color:#bcbcbc}
.footer_middle{border-top:1px solid #d4d4d4;width:1140px;margin:0 auto;padding-top:10px;clear:both}
.footer_middle p{text-align:center;width:100%;line-height:30px;font-size:12px}
.footer_middle p strong{font-size:14px}
.img{width:231px;margin:0 auto}
.copy{text-align:center;width:1140px;color:#969696;clear:both}
.price_new span{font-size:18px!important;font-family:'Open Sans',sans-serif!important}
.footer_section .wrapper .sec_2{width:22%;margin-bottom:20px;float:left;margin-left:20px}
.footer_section .wrapper .sec_2 p{clear:both;margin-top:20px;line-height:18px}
.footer_section .wrapper .sec_2 i{padding-right:10px}
.footer_section .wrapper .sec_2 li{margin-bottom:10px}
.footer_section .wrapper .sec_2 ul{margin-top:15px}
.sec_2 a{color:#525151;text-decoration:none}
.sec_2 a:hover{color:#006feb;text-decoration:underline}
.special_txt{margin-top:0!important;clear:both;margin-bottom:20px}
.email{border-radius:3px;border:1px solid #dfdfdf;color:#979696;font-size:13px;padding:5px;line-height:18px}
.button_subscribe{background:#006feb;font-family:'Open Sans',sans-serif;text-transform:uppercase;color:#FFF;border:none;padding:5px;border-top-right-radius:5px;border-bottom-right-radius:5px;font-size:14px;float:right;margin-left:-10px;position:absolute;font-weight:400;line-height:20px;cursor:pointer;cursor:hand}
.sec_2 h6{text-transform:uppercase;color:#525151;margin-top:20px;line-height:20px;font-size:14px}
.social_icon{margin-top:0!important;clear:both;margin-bottom:10px}
.social_icon li{float:left!important}
.btn_img img{float:left;clear:both;width:50%;float:left}
i:hover{border-color:#0083C9}
.price_new small{text-decoration:line-through;color:#6b6b6b;font-weight:600;font-size:18px}
.topBar{float:left;min-height:31px;width:100%}
.navBlock{float:left;width:100%}
.navRight{float:right;position:relative;width:1140px}
.myCart{float:right;width:auto;position:relative}
.rightTop{float:left}
.Currency_3{border-right:1px solid #d5d4d4;cursor:pointer;float:right;height:35px;margin-left:2px;padding-top:2px;width:92px;cursor:pointer;cursor:hand}
.language{border-left:1px solid #d5d4d4;border-right:1px solid #d5d4d4;height:34px;padding-top:4px;position:relative;width:100px!important}
#WidgetFloater{border:0!important;border:none!important;width:100px;border-radius:0!important;height:25px}
#CTFLinksPanel{display:none!important}
.pop_up_sec{background:#cee5ff url(../images/pup_up_bg.png) no-repeat 0 0;border:4px solid #2e8df8;display:none;float:left;padding:15px;z-index:1.0E+28;width:628px}
.popup-cross{position:absolute;right:-30px;top:-30px}
#popupAddToCart{display:none;left:5%;position:fixed;top:33.33%;z-index:11}
.popups{float:left;margin:1% 0 0 32%;width:67%}
#fancybox-overlay{background:none repeat scroll 0 0 #3E302B;display:none;height:100%;left:0;overflow:hidden;position:fixed;top:0;width:100%;z-index:999999999}
#navBar{background:#eee;float:left;width:100%}
.logo{float:left;margin:24px 0 0}
.navSection{float:left;margin:20px 0 0;padding:0;position:relative;background:#eee;width:100%}
ul.menu{padding:0;position:relative;margin:0 auto;width:1140px;z-index:inherit}
ul.menu > li{float:left;padding:0}
ul.menu li a{color:#000;display:block;float:left;padding:0 19px;font:400 17px/54px  "Open Sans",sans-serif;}
.cart_price strong{color:#6b6b6b;text-decoration:line-through;margin-left:10px;font-size:12px}
.dropdowns_outer{border:0;border-top:0;display:none;float:left;left:0;position:absolute;top:54px;width:1140px;z-index:9!important;behavior:url(common/js/PIE.htc);box-shadow:0 3px 5px #878787;moz-box-shadow:0 3px 5px #878787;o-box-shadow:0 3px 5px #878787;webkit-box-shadow:0 3px 5px #878787}
.dropdowns_inner{float:left;width:100%;background:#fff}
ul.menu li.last{float:right!important;padding:0 19px}
.cartMessage{background:none repeat scroll 0 0 #6EB620;border-radius:2px;color:#FFF;display:none;float:left;font-size:14px;text-align:center;width:100%;z-index:999}
.headerRight{float:right;width:0}
.banner{margin:14px 0 0}
#LanguageMenuPanel{border:1px solid #ededed;height:29px!important}
#LanguageMenuPanel:hover{background:#eee!important;width:97px}
.offPrice{background:url(../images/off-text.png) no-repeat}
#WidgetFloaterPanels input[type="text"]{background:transparent}
#WidgetFloaterPanels span.DDStyle{padding:0 6px;color:#454545!important;text-align:left!important;background:url(../images/drop_down2.png) no-repeat scroll 95% center transparent;font:500 13px/28px  "Open Sans",sans-serif;}
.categories .newListSelected{background:url(../images/new_down2.png) no-repeat scroll 121px 18px rgba(0,0,0,0)}
#WidgetFloaterPanels span.DDStyle{background:url(../images/drop_down2.png) no-repeat scroll 95% center transparent}
.stylish-select ul.newList li a:focus{moz-outline-style:none}
.stylish-select ul.newList *{font:400 12.5px/20px  "Open Sans",sans-serif;margin-bottom:3px}
.stylish-select ul.newList{background:none repeat scroll 0 0 #fff;border:1px solid #ccc;color:#000;list-style:outside none none;margin:0;max-height:300px!important;overflow:auto;padding:0}
.stylish-select .selectedTxt{cursor:pointer;height:19px;overflow:visible;padding:0 23px 0 10px;width:auto}
element.style{height:300px}
.stylish-select .categories ul.newList{border-top:0 none!important;color:#000;margin-top:25px;width:142px!important;z-index:9;position:absolute}
.icons_saved{margin-right:0;clear:both;display:block;float:none!important;margin-top:0!important;margin-left:14%}
.stylish-select .newListHover{color:#000!important;cursor:default}
.stylish-select .newListDisabled,.stylish-select .newListItemDisabled,.stylish-select .newListOptionDisabled{filter:alpha(opacity=60);ms-filter:alpha(Opacity=60);opacity:.6}
.stylish-select .newListOptionTitle{font-weight:700}
.stylish-select .newListOptionTitle ul{margin:3px 0 0}
.stylish-select .newListOptionTitle li{font-weight:400}
.stylish-select .header .rightTop .selectedTxt,.stylish-select .language .newListSelected{width:70px}
.stylish-select .categories .newListSelected{color:#000;font:12px/19px  "Open Sans",sans-serif;height:22px;padding:13px 13px 4px 0;width:130px}
.stylish-select .categories .selectedTxt{height:39px;width:98%;font:400 15px/21px  "Open Sans",sans-serif;}
.ac_results li:hover{color:#000!important;font:400 12.5px/20px  "Open Sans",sans-serif;}
.ac_results li>b{font:700 12.5px/20px  "Open Sans",sans-serif;display:block;color:#000!important;text-transform:uppercase;padding:0}
.ac_results li>b:hover{font:700 12.5px/20px  "Open Sans",sans-serif;display:block;color:#ffb11b!important;padding:0}
.stylish-select .categories .selectedTxt .stylish-select .categories .SSContainerDivWrapper{left:-1px!important;margin:0;padding:0;position:absolute;top:31px!important;width:162px;z-index:2}
#countries_msdd{width:82px!important}
.searchBlock input[Type=text]{background:none;border:medium none;color:#999;float:left;font:400 15px  "Open Sans",sans-serif;margin:0;padding:15px 0 6px 15px;width:460px}
.searchBlock input[Type=submit]{background:url(../images/search_icon.png) no-repeat scroll 0 11px rgba(0,0,0,0);border:medium none;cursor:pointer;float:right;height:38px;margin:0;padding:0;width:34px}
a:hover{text-decoration:none}
a{text-decoration:none}
.section_1 h4{clear:left;text-transform:uppercase;font:700 12.4px/20px Lato,sans-serif!important;border:1px solid #fff!important;float:left;color:#ffb11b!important}
.stylish-select .SSContainerDivWrapper{margin:0;padding:0;position:absolute;top:22px!important;width:115px;z-index:1.0E+23}
.searchBlock{background:#fff;border:1px solid #bebebe;float:right;height:47px;margin:25px 0 0;width:661px}
.button,.jspDrag,.newListSelected,.newsletter input,.outerpro_img,.searchBlock,.thumbs{border-radius:0}
li{list-style:none}
#offPriceText{color:#fff;font:20px/43px Abel,sans-serif;text-indent:25px}
ul.menu li:hover{background-color:#565656;background-image:none;color:#fff;margin-left:-3px;padding-left:3px}
ul.menu li:hover a{color:#fff}
.searchBlock input[Type=submit]{background:url(../images/search_icon.png) no-repeat scroll 0 11px rgba(0,0,0,0);border:medium none;cursor:pointer;float:right;height:38px;margin:0;padding:0;width:34px}
.Currency,.language{display:inline;padding:0 7px 0 0}
.ddcommon{float:right}
.dd .ddTitle{height:26px!important}
.categories{background:none repeat scroll 0 0 #f4f4f4;border-right:1px solid #ccc;color:#000;float:left;height:47px}
.categories ul.newList{border-top:0 none!important;color:#000;margin-top:8px;width:160px!important}
.section_1 a:hover{color:#000!important;height:auto!important;border:1px solid #fff;width:80%;font:400 12.4px/20px Lato,sans-serif!important;display:block}
.SSContainerDivWrapper ul{width:240px!important}
.mytelamela >ul li a{display:block;color:#006FEB;text-decoration:none;text-decoration:none}
.mytelamela > ul li a:hover{color:#0369DC;text-decoration:none}
.mytelamela li ul{display:none;background:#eeeee}
.mytelamela li:hover ul{display:block;background:#eeeee;color:#000}
.mytelamela li:hover li a{background:#eeeee;color:#000}
.section_1 .more_cat a:hover{color:#ffb11b!important;text-decoration:none;border:1px solid #fff!important}
.section_1 .more_cat a:hover:before{color:#ffb11b!important;text-decoration:none;border:1px solid #fff!important}
.section_1{font-size:12px!important;float:left;width:19.7%!important;padding-bottom:5px;padding-top:8px}
.section_1 a{float:left;padding-left:5px!important;margin-left:5px;margin-bottom:0;font:400 12.4px/20px Lato,sans-serif!important;width:80%;border:1px solid transparent;color:#999!important}
.section_1 a:hover{color:#000!important;height:auto!important;border:1px solid #fff;width:80%;font:400 12.4px/20px Lato,sans-serif!important;display:block}
.section_1 h4{clear:left;text-transform:uppercase;font:700 12.4px/20px Lato,sans-serif!important;border:1px solid #fff!important;float:left;color:#242424!important}
.section_1 h4:hover{border:none!important;color:#ffb11b!important;border:1px solid #fff!important}
.h4_menu{color:#000;border:1px solid #fff!important}
.mytelamela{border-left:1px solid #ccc;color:#006feb;text-decoration:none;float:right;font-size:13px;font-style:normal;height:16px;line-height:16px;margin-top:12px;padding-left:31px;padding-right:30px}
.mytelamela a:hover{color:#0369dc;text-decoration:none}
.mytelamela li:hover ul{display:block;background:#eeeee;color:#000}
.mytelamela li:hover li a{color:#000}
ul.loginBlock{float:right;padding:0 2px 0 9px;width:auto}
ul.loginBlock li{float:left;font:400 13px/30px  "Open Sans",sans-serif;padding-right:15px}
ul.loginBlock li a.jscallLoginBox{border-left:1px solid #ccc;color:#3c3c3c;height:16px;line-height:16px;margin-top:12px;padding-left:31px;padding-right:12px}
ul.loginBlock li a{color:#999;float:left}
.addtocart,.login_box,.quick_overview{border-radius:5px;float:left;font-family:'Open Sans';position:relative}
.cart_inner,.login_inner,.quick_inner{display:block;overflow:hidden;padding:20px 19px}
.login_box .heading{border-bottom:1px solid #C2C2C2;display:block;padding-bottom:12px;width:100%}
ul.loginBlock li.signUp a:hover{color:#5e5e5e}
ul.loginBlock li.signUp a{border-left:1px solid #ccc;color:#3c3c3c;height:16px;line-height:16px;margin-top:12px;padding-left:31px;padding-right:12px}
.stylish-select ul.newList a{color:#999;display:block;padding:3px 8px;text-decoration:none;cursor:pointer;cursor:hand}
#WidgetFloaterPanels #LanguageMenu{background-color:#fff!important}
#WidgetFloaterPanels div.DDStyle{padding:0!important}
#WidgetFloaterPanels{box-shadow:none!important;position:absolute}
#WidgetFloater{height:23px}
#WidgetLogoPanel,#CTFLinksPanel{display:none!important}
#FloaterProgressBar{background:transparent!important}
#WidgetFloaterPanels{background:transparent}
#WidgetFloaterPanels input[type="text"]{background:transparent}
#LanguageMenuPanel{ background:#eee}
#WidgetFloaterPanels span.DDStyle:hover{color:#000!important}
#WidgetFloaterPanels span.DDStyle a:hover,#WidgetFloaterPanels .DDStyle a,.DDStyle a:visited,#WidgetFloaterPanels div.DDStyle td a:hover{color:#000!important}
#WidgetFloaterPanels div.DDStyle{padding:0!important}
#WidgetFloaterPanels #LanguageMenu{background-color:#fff!important}
#WidgetFloaterPanels{position:absolute}
#WidgetFloaterPanels span.DDStyle{padding:0 6px;color:#454545!important;text-align:left!important;font:500 13px/28px Lato,sans-serif!important}
#WidgetFloaterPanels{box-shadow:none!important}
#WidgetFloater{border:0!important;border:none!important;width:100px;border-radius:0!important;height:25px}
#cboxContent{background:#fbfbfb;height:auto!important;-webkit-box-shadow:3px 3px 17px 8px rgba(0,0,0,0.75);-moz-box-shadow:3px 3px 17px 8px rgba(0,0,0,0.75);box-shadow:3px 3px 17px 8px rgba(0,0,0,0.75);position:relative;-moz-background-clip:padding;-webkit-background-clip:padding;background-clip:padding-box;border:15px solid rgba(0,0,0,0.3);-webkit-border-radius:10px;-moz-border-radius:10px;border-radius:10px;padding:10px}
#cboxOverlay{background:#000 url(../images/overlay.jpg)!important}
.watch_link{background:#ea676b;padding:0 20px;text-transform:uppercase;font-family:'Open Sans'!important;font-size:14px;width:200px!important}
.text_light{color:#666;line-height:30px;padding:20px 0}
.addtocart,.login_box,.quick_overview{width:100%}
.cart_link{background:#006feb!important;padding:0 20px;text-transform:uppercase;font-family:'Open Sans'!important;font-size:14px;width:200px!important}
.login_box p{float:none;width:80%;margin:0 auto;padding-bottom:20px}
.signup_selector_instruction{font-size:12px;color:#666;padding-top:20px}
.login_box h3{color:#383939;display:inline;font-size:20px;font-family:'Open Sans'!important;font-weight:500;text-transform:uppercase;line-height:18px}
.signinborder_bar{position:absolute;border:2px solid #5c5c5c;width:220px;margin-top:11px}
.social_login_icon img,.social_login_icons img{height:auto}
.loginborder_bar{margin-top:11px;position:absolute;border:2px solid #5c5c5c;width:100px}
.social_login_icons{clear:both}
.submit3:hover{opacity:.8;background:#ffb11b!important}
.submit3{background:#ffb11b!important;text-transform:uppercase;font-size:14px;font-family:'Open Sans'!important;border-radius:0;padding:10px 90px;margin-top:41px;float:right}
.out_btn{display: block;background: #fff;overflow: hidden;width: 383px;padding-left: 180px;margin-top: 10px;padding-bottom: 11px;padding-top: 11px;border-radius: 10px;}
.social_login_icon span,.social_login_icons span{color:#3F3E3E;width:140px!important}
.login_box .form{margin-top:20px;color:#535353;float:left;width:100%}
.login_box input[type=password],.login_box input[type=text]{border:1px solid #d2d2d2;color:#535353;font-size:12px;font-weight:300;height:28px;padding:5px;width:398px}
.form a{font:500 14px  "Open Sans",sans-serif; color:#666;font-family:'Open Sans'!important;text-decoration:none;float:right}
.form a:hover{color:#000}
.login_box .form span{font-family:'Open Sans'!important}
.social_login_icon,.social_login_icons{float:left;margin-right:0;margin-top:40px}
.social_login_icons{clear:both}
.idpico:hover{opacity:.8;-moz-transition:all 1s;-webkit-transition:all 1s;transition:all 1s}
.top_casual{width:510px;float:left}
.top_casual h1{color:#3c3c3c;line-height:30px;text-transform:uppercase;font-family:'Open Sans'!important;font-weight:400;font-size:18px;float:left;border-bottom:4px solid #5c5c5c;position:relative;bottom:-2px}
.top_casual h1 a{color:#3c3c3c;text-transform:uppercase;font-family:'Open Sans'!important;font-weight:600;color:#3c3c3c}
.price_details{background:none;height:46px;width:510px;padding:9px 0;color:#6b6b6b;font-size:18px}
.quick_left{width:60%;float:left}
.outer_blog h2 small{float:left;font-weight:600; line-height:44px;color:#6b6b6b;font-size:18px}
.price_details strong{color:#e43137;font-size:22px;line-height:46px;font-weight:600;clear:inherit}
.cust_review{color:#8c8c8c;font-size:12px}
.quick_right p{color:#ee9912;float:right;font-size:12px}
.quick_right p a{color:#ee9912;float:left; line-height:24px;font-size:12px}
.quick_right p a:hover{color:#000}
.quick_left a{float:left;color:#8c8c8c;font-size:13px}
.detail_txt{clear:both;margin-top:20px;padding-top:20px;color:#363232;font-size:12px;padding-bottom:10px}
.small_imgs{width:312px!important}
.red{font-size:12px}
.inner_rating.avg_rating{width: 49%;
margin-left: 50px; height:20px;
float: left;
margin-top: -20px;
}.btn{ float:left}
.review_txt{border-right:1px solid #eee;padding-right:10px;margin-right:10px}
.right_bottom{float:right}
.left_bottom{width:51%;float:left}
.cart_link1{background:#ff9300 url(../images/cart_bg.png) 10px 4px no-repeat;display:block;margin-top:20px;text-transform:uppercase;padding:16px 44px 16px 90px;font-size:17px;margin-bottom:10px;line-height:23px}
.cart_link1:hover{opacity:.7}
.out_of_stock_cart_link1{background:red url(../images/cart_bg.png) 10px 4px no-repeat;display:block;padding:16px 44px 16px 90px;text-transform:uppercase;font-size:17px;color:#fff;margin-bottom:10px;line-height:23px}
.out_of_stock_cart_link1:hover{opacity:.7}
.colormy_righttd{float:left;width:519px}
.watch_link1{color:#545454;font-size:12px;background:url(../images/compare.png) no-repeat -1px 3px;padding-left:34px;line-height:81px;padding-top:8px;height:40px;-webkit-transition:-webkit-transform 1s;padding-bottom:23px}
.watch_link1:hover{color:orange}
.blue{font-size:13px;padding-bottom:30px; text-align:center}
.jcarousel-clip ul li .border2{display:table-cell!important;float:none;height:65px;text-align:center;vertical-align:middle;width:95px}
.small_imgs li{border:1px solid #dadada;height:73px;margin-right:8px;width:73px;margin-bottom:10px}
.border2 img{float:none}
.productPointer{cursor:pointer}
.forget .cart_link{padding:0}
.cart_inner,.login_inner,.quick_inner{overflow:none}
.forget_pass{clear:both;width:80%;padding-top:30px;padding-bottom:20px;margin-left:100px}
.forget_pass .cart_link{line-height:50px}
.save_amt{text-align:right;font-weight:600;font-size:18px;color:#565655}
.save_amt cite{color:#006feb;font-style:normal}
.outer_blog h2{padding:10px 0 5px;text-align:left;border-top:1px solid #eee;border-bottom:1px solid #eee;width:510px}
.recommmend_blog .quantity{height:20px}
.recommmend_blog .quantity .plus{background:url(../images/quantity_plus.png) no-repeat;top:-28px;width:35px;margin-left:79px;position:relative;height:27px;border:0}
input#frmQty{padding-left:50px}
#frmQty{border:1px solid #d4d3d3;height:18px;width:58px;padding:5px 4px 4px 10px;border-radius:0}
.recommmend_blog .quantity .minus{background:url(../images/quantity_minus1.png) no-repeat;top:-55px;width:34px;margin-left:1px;position:relative;height:27px}
.watch_link1:hover{color:#000}
.bottom_line{padding:11px 0 11px 10px;border-top:1px solid #dedede;width:829px;clear:both!important;margin-top:130px;display:block;padding-right:20px}
.bottom_line ul li{border-right:1px solid #dedede;display:inline-block;padding-right:20px;text-align:center;margin-right:20px;font-size:14px;color:#897e7e}
.bottom_line ul li:last-child{border:none}
.compare_quick{color:#545454;font-size:12px;background:url(../images/compare_1.png) no-repeat -1px 3px;padding-left:34px;line-height:81px;margin-left:30px;padding-top:8px;height:40px;padding-bottom:23px}
.social_icon1{height:60px;width:150px}
.products_detail{float:left;margin:-10px 0 0 5px;position:relative;width:463px}
.quick_title{width:446px;margin-bottom:10px;float:left;clear:both;border-bottom:1px solid #e5e5e5;padding-right:64px}
.left{width:45%!important;float:left;margin-right:10px}
.right{width:45%!important;float:left;margin-left:10px}
.ornage_text{color:#2282ee;font:13px Arial,Helvetica,sans-serif}
.social_share{margin-bottom:20px;float:left;width:300px}
.qty_li_cls{padding-top:5px!important}
.saved{width:348px!important}
.save_for{font-size:14px;float:right;text-align:right;margin-left:45px!important;font-size:12px!important}
.check_box{width:438px}
.reply_message .left_m{float:left;width:150px;font-weight:100}
.recommmend_blog li p{color:#4c4c4e;padding:0;float:left}
.succCart{color:#6EB620;float:left;padding:0 0 5px 20px;width:auto;display:block;height:20px;position:absolute;bottom:0}
.reply_message input[type=submit]{padding:0!important}
.qty_li_cls{margin-top:10px}
.MyAttr{border-bottom:1px solid #eee;margin-top:0;display:block;margin-bottom:10px;padding-bottom:10px}
.add_pakage_outer{ width:1140px; margin:0px auto}
.recommmend_blog li {
	float: left;
	padding: 0 0 7px;
	width:550px;
}
.review{margin-top: -23px;
float: left;
line-height: 19px;
border-left: 1px solid #eee;
padding-left: 10px;
}
#cboxLoadedContent{ overflow:hidden !important}
.price_details small {
	color: #585858!important;
	font-size:15px;
	padding-right: 15px;;font-family:'Open Sans'!important;
	text-decoration: line-through;
	vertical-align: middle;
}
.mytelamela a{   color: #ff9300; text-decoration:none;}
.radio_btn small {
	color: #3f3e3e;
	float: left;
	font: 13px/27px "Lato", sans-serif;
}
.sliderBlock .owl-carousel .owl-wrapper-outer{ margin-left:0px !important; width:100% !important  }