/* Order Detail Page */
/*commented by manish on 8 December 2014*/
/*
.order_details{ font-family: 'OpenSansRegular',arial;  }
.account_information, .shipping_handling, .billing_information, .shipping_information  { width:463px; float:left }
.boxes5 .billing_information ul li span, .boxes .shipping_information ul li span{width: 148px!important;}
.boxes1 ul{border:1px solid #cecece; padding:12px 0 0 20px; float:left; width:441px;}
.boxes1 ul li{ font: 13px/24px 'OpenSansRegular',arial; width:100%; overflow: hidden }
.boxes1 ul li span{ width: 97px;; font-weight:bold; float:left; letter-spacing: -0.4px; word-spacing: -0.4px;}
.boxes1 ul li  strong {float: right; *margin:-25px 0 0 0}
.boxes1 ul li a {font: 13px/15px 'OpenSansRegular',arial; color:#3f3e3e; margin:6px 0 0 8px; float: left}
.boxes1 ul li a {*margin:4px 0 0 8px}
.boxes1 ul li a:hover {text-decoration: underline}
.boxes1 ul li small { color: #3F3E3E; float: left;font: 13px/19px 'OpenSansRegular',arial;padding: 4px 0 0 8px; width: 153px; }
.boxes1 ul li p{ line-height:18px;  margin-top: 10px;}
.edit1{ background:url(../images/white_edit_icon.png) no-repeat left top!important; padding-left:26px; color:#fff ; font: 15px/19px 'OpenSansRegular',arial; float:right}
.boxes1 .heading{float:left; padding:13px 21px 13px 51px; width:391px;}
.boxes5 ul li span {float: left}
.boxes5 ul li small {float: left; width:100px; padding:0 0 0 3px}
.account_information .heading{ background:url(../images/account_icon.png) no-repeat left top #e43137; }
.account_information h3{ font: 17px/18px 'OpenSansRegular',arial;  color:#fff; float:left; font-weight:bold }
.account_information ul{}
.boxes1 .shipping_handling ul li span{ width:121px; font-weight:bold; float:left}
.shipping_handling{ margin-left:28px; }
.shipping_handling .heading{ background:url(../images/shipping_icon.png) no-repeat left top #6eb620;}
.shipping_handling h3{ font: 17px/18px 'OpenSansRegular',arial;  color:#fff; float:left; font-weight:bold }
.boxes2{ margin-top:19px; float:left; }
.boxes2 ul{border:1px solid #cecece;  padding:12px 0 0 20px; float:left; width:441px;}
.boxes2 ul li{ font: 13px/24px 'OpenSansRegular',arial; width:81%; float: left }
.boxes2 ul li span{ width:162px; font-weight:bold; float:left; letter-spacing: -0.4px; word-spacing: -0.4px;}
.boxes2 ul li strong { *margin:-25px 0 0 0; float: right}
.boxes2 ul li small {width:175px; float: left; padding:0 0 0 16px}
.boxes2 ul li p{ line-height:18px;  margin-top: 10px;}
.boxes2 .heading{float:left; padding:13px 21px 13px 51px; width:391px;}
.billing_information .heading{ background:url(../images/billing_icon.png) no-repeat left top #006feb; }
.billing_information h3{ font: 17px/18px 'OpenSansRegular',arial;  color:#fff; float:left; font-weight:bold }
.billing_information ul{}
.shipping_information{ margin-left:28px; }
.shipping_information .heading{ background:url(../images/shipping_infor_icon.png) no-repeat left top #362223; }
.shipping_information h3{ font: 17px/18px 'OpenSansRegular',arial;  color:#fff; float:left; font-weight:bold }
.order_details table{ margin-top:20px; float:left}
.order_details table tr th{ background:#fa990e; border-right:1px solid #e6cfa3; font-size:14px; color:#fff; font-weight:normal; padding:12px 0 }
.order_details table tr .last{ padding-right:16px;}
.order_details table tr.even{ background:#ffe7b9;}
.order_details table tr td{ padding:15px 0; border-right:1px solid #e6cfa3; border-top:0px solid #e6cfa3; width: 146px; }
.order_details table tr td.bottom{border-bottom:1px solid #e6cfa3; }
.order_details table tr td.border_left{border-left:1px solid #e6cfa3; width: 185px;}
.last_box{ margin-top:20px; float:left;  width: 100%;}
.comment_box{ width:468px; float:left; background:#fff3e0; border:1px solid #cac7c8; padding:19px 20px 19px 20px;}
.comment_box label{  margin: 0 0 15px; font-size:16px; font-weight:bold; color:#000; font-family: 'OpenSansBold',arial}
.comment_box textarea{ border:1px solid #dcdcdc; width:429px; padding:6px 10px; font-size:13px; height:106px; overflow:auto}
.total_amount{ float:right; width:365px; margin-right:21px; text-align:right; }
.total_amount ul{ width:100%; height: auto;  }
.total_amount ul li{ margin-bottom:15px; font-size:12px; color:#3f3e3e ; float: left; width:100%}
.total_amount ul li small {font: 12px/14px 'OpenSansRegular',arial; color:#3f3e3e; width:auto; float: left}
.total_amount ul li span{ width:90px; float:right; margin-right: 3px; font:14px/29px "Lato", sans-serif;}
.total_amount ul li.grand{border-top:1px dashed #000; padding-top:15px; margin-top:10px; width:100%; float:right; font-size:18px; font-weight:bold; color:#000}
.total_amount ul li.grand strong {width: 130px; float: left;}
.total_amount ul li.grand span{ font-size:22px; color:#e07400; margin-right: 3px; width:auto; padding:0!important}
.total_amount ul li.pay_button a{ background:url(../images/pay_button.png) no-repeat; color:#fff; font-size:16px; font-weight:bold; padding:0 22px 0 50px; margin-top:5px; float:right;height:45px;line-height:41px;}
*/

/* Order Details */
/*
.order_detail{ font-family: 'OpenSansRegular',arial;}
.boxes{ float:left;width: 100%}
.boxes .account_information, .boxes .shipping_handling, .boxes .billing_information, .boxes .shipping_information  { width:309px; float:left }
.boxes ul{border:1px solid #cecece;  padding:4px 0 0 9px; float:left; width:298px; height: auto;}
.boxes ul li{ font: 13px/24px 'OpenSansRegular',arial; }
.boxes ul li span{ width:83px; font-weight:bold; float:left; letter-spacing: -0.4px; word-spacing: -0.4px;}
.boxes ul li strong{float: right}
.boxes ul li strong{*margin-top:-25px;}
.boxes ul li a{color: #423D3D; word-wrap:break-word;}
.boxes ul li a:hover {text-decoration: underline}
.boxes ul li p{ line-height:18px;  margin-top: 10px;}
.boxes .heading{float:left; padding:13px 21px 13px 51px; width:237px;}
.boxes .account_information .heading{ background:url(../images/account_icon.png) no-repeat left top #e43137; }
.boxes .account_information h3{ font: 17px/18px 'OpenSansRegular',arial;  color:#fff; float:left; font-weight:bold }
.boxes .account_information ul{}
.boxes .billing_information .heading{ background:url(../images/shipping_icon.png) no-repeat left top #6eb620; }
.boxes .billing_information h3{ font: 17px/18px 'OpenSansRegular',arial;  color:#fff; float:left; font-weight:bold }
.boxes .billing_information{ margin:0 14px;}
.boxes .billing_information ul{}
.boxes .shipping_information{ margin-left:0; }
.boxes .shipping_information .heading{ background:url(../images/shipping_infor_icon.png) no-repeat left top #362223; }
.boxes .shipping_information h3{ font: 17px/18px 'OpenSansRegular',arial;  color:#fff; float:left; font-weight:bold }
.boxes .billing_information ul li span, .boxes .shipping_information ul li span{ width:158px!important; font-weight:bold; float:left; letter-spacing: -0.4px; word-spacing: -0.4px;}
.order_detail table{ margin-top:20px; float:left}
.order_detail table tr th{ background:#cecdcd; border-right:1px solid #b0afaf; font-size:14px; color:#000; font-weight:normal; padding:12px 0 }
.order_detail table tr .last{ padding-right:16px;}
.order_detail table tr.even{ background:#e9e9e8; }
.order_detail table tr td{ padding:15px 0; border-right:1px solid #b3b2b2; color:#3f3e3e ; width:146px;}
.order_detail table tr td.bottom{border-bottom:1px solid #b3b2b2; }
.order_detail table tr td.border_left{border-left:1px solid #b3b2b2; text-align: center; width: 218px;}
.link3 {float: left; margin:0 0 0 7px}*/

