.input_sec span{padding:0px;}.
datepick-trigger{margin: 31px 0 0 -19px; position: relative;} 
.dashboard_title{background:#60494A; color: rgb(255, 255, 255); padding: 0px 9px; border-radius: 4px 4px 4px 4px; margin: 0px 0px 9px; width: 114%;}
#cboxLoadedContent{margin-top:-2px !important;}
.add_edit_pakage input[type="text"]{padding:0px, 0px 0px 10px !important;width:auto !important;}
#MultipleProduct label{font-weight: bold;}
#MultipleProduct tr:first-child td{padding: 0 0 18px;}
.mutli_product{ float: left;overflow-x: auto; width: 100%; padding-bottom: 30px;}
.customfile1-feedback{margin: -40px 0 0; }
.customfile1-button{margin-right: 28px;}
.customfile1{ padding: 0 27px 0 0;}
.left_content td{vertical-align: top;}

