*{box-sizing:border-box;}
body{margin:0; padding:0; background:#F0F0F0 url(../images/bg.jpg) repeat-x top 100px left 0; font-family:'Open Sans', Arial;}
.container{width:1024px; margin:0 auto; padding:0;}
.Menubar{width:250px; height:auto; background:#FFF; float:left; position: absolute; z-index: 999; left: 0; display: none;}
.Menubar  h3.title{font-size:15px; margin:0; color:#FFF; background:#7a0202; width:100%; height:35px; padding:0 1em; line-height:35px; }
.Menubar  h3.title:hover  ul.MainMenu{display:block;}
.Menubar ul.MainMenu{margin:0;  padding:0; width: 100%; height: auto; list-style:none; font-size:14px; border-bottom:3px solid #999;}
.Menubar ul.MainMenu li{float:none; height:35px; line-height:35px;  border-bottom:1px solid #CCC;  position:relative;}
.Menubar ul.MainMenu > li:hover{background: #F0F0F0;}
.Menubar ul.MainMenu li:first-child{margin-left: 0;}
.Menubar ul.MainMenu li:last-child{border-bottom:none;}
.Menubar ul.MainMenu li a{color:#333; text-decoration:none; padding:0 .8em; display:block; margin-left:0;}
.Menubar ul.MainMenu li a span{float:right; margin-top:.8em;   border-top: 6px solid transparent;  border-bottom: 6px solid transparent; border-left: 6px solid #c1c1c1; position: relative;}
.Menubar ul.MainMenu li a span:after{content:''; border-top: 6px solid transparent; border-bottom: 6px solid transparent; border-left: 6px solid #c1c1c1;  border-left-color: #fff; position: absolute; top: -6px; left: -8px;} 
.Menubar ul.MainMenu li a:hover span{border-left: 6px solid #ad0800; }
.Menubar ul.MainMenu li a:before{content:''; border-left:3px solid #CCC;  border-top:1px solid #CCC; height:35px; background:#CCC; position:absolute; left:0;top:0}
.Menubar ul.MainMenu li a:hover{background:#F0F0F0;}
.Menubar ul.MainMenu li a:hover:before{border-left:3px solid #ad0800;  border-top:1px solid #ad0800;}
.Menubar ul.MainMenu li   #contentBox{display:block;  position: absolute;  left: 250px;  top: 0;  padding:0;}
.Menubar ul.MainMenu li:hover  #contentBox{display:block;}
.Menubar ul.MainMenu li   #contentBox  ul.submenu1{list-style: none; padding-left:0; margin-left: 0; margin-top: 0; background: #FFF; color: #2e2e2e;  padding-bottom: 10px; padding-top:10px;  height: auto;  max-height: 97%;   background: #FFF; width: 260px; margin: 0; padding: 0; border-left: 1px solid #CCC;}
#contentBox  ul.submenu1 li{height:auto; line-height:18px; font-size:12px; border-bottom:1px solid #DDD; padding-left:0;position:relative;}
#contentBox  ul.submenu1 li:hover .ContentSubmenu2 {display:block;}
#contentBox  ul.submenu1 li a:before{content:''; border-left:none;  border-top:none;}
#contentBox  ul.submenu1 li a span:after{border-left-color: #F0F0F0;}
#contentBox  ul.submenu1 li:hover a span:after{border-left-color: #FFF;}
#contentBox  ul.submenu1 li a:hover{background:#F0F0F0;}
#contentBox  ul.submenu1 > li:hover{background: #F0F0F0;}
.Menubar ul.MainMenu > li:hover span, .Menubar ul.MainMenu li .#contentBox  ul.submenu1 > li:hover span{border-left: 6px solid #ad0800; }
.Menubar ul.MainMenu > li:hover span:after, .Menubar ul.MainMenu li  #contentBox  ul.submenu1 > li:hover span:after{border-left-color: #F0F0F0;}
.Menubar ul.MainMenu > li:hover span, .Menubar ul.MainMenu li .#contentBox  ul.submenu1 > li:hover span{border-left: 6px solid #ad0800; }
.Menubar ul.MainMenu > li:hover span:after, .Menubar ul.MainMenu li  #contentBox  ul.submenu1 > li:hover span:after{border-left-color: #F0F0F0;}
.Menubar ul.MainMenu li   #contentBox  ul.submenu1 li a span:after{border-left-color: #FFF;}
#contentBox  ul.submenu1   .ContentSubmenu2{background:transparent; position: absolute;  top: 0;  z-index: 0;  display: block;  border-bottom:none;  border-right:none;  height: 305px; width: 160px; left: 259px;}
#contentBox  ul.submenu1  #BG_div{width:100%; height:370px; background:url(../images/img1.jpg) no-repeat bottom center;  overflow:auto;}
#contentBox  ul.submenu1   .ContentSubmenu2 p{color:#ad0800; padding:0 0 0 1em; margin:0; font-weight:bold;}
#contentBox  ul.submenu1   .ContentSubmenu2  .left_block{float:left; width:160px; height:auto; max-height:97%;}
#contentBox  ul.submenu1   .ContentSubmenu2  .right_block{float:right; width:160px; height:auto; max-height:97%;}
#contentBox  ul.submenu1   .ContentSubmenu2  .left_block ul, 
#contentBox  ul.submenu1   .ContentSubmenu2  .right_block ul{margin:0; padding:0; list-style:none;}
.left_block ul li, .right_block ul li{background:#FFF; display: inline-block; width: 100%;}
#contentBox  ul.submenu1   .ContentSubmenu2  .left_block ul li, 
#contentBox  ul.submenu1   .ContentSubmenu2  .right_block ul li{border-left: 1px solid #CCC;}
#contentBox  ul.submenu1   .ContentSubmenu2  .left_block ul li a, 
#contentBox  ul.submenu1   .ContentSubmenu2  .right_block ul li a{background:#FFF;}
#contentBox  ul.submenu1   .ContentSubmenu2   .left_block ul li a:hover, 
#contentBox  ul.submenu1   .ContentSubmenu2   .right_block ul li a:hover{color:#333; text-decoration:none; background:#F0F0F0}