body {
	font-family: 'Open Sans',arial,sans-serif,Helvetica,monospace;
	background: #f1f1f1;
}
body p{word-wrap:break-word !important;}
@font-face {
    font-family: 'akzidenz-grotesk_bq_extrabold';
    src: url('akzidenzgrotesk-extrabold-webfont.eot');
    src: url('akzidenzgrotesk-extrabold-webfont.eot?#iefix') format('embedded-opentype'),
         url('akzidenzgrotesk-extrabold-webfont.woff') format('woff'),
         url('akzidenzgrotesk-extrabold-webfont.ttf') format('truetype'),
         url('akzidenzgrotesk-extrabold-webfont.svg#akzidenz-grotesk_bq_extrabold') format('svg');
    font-weight: normal;
    font-style: normal;

}

*{
	margin:0;
	padding:0;
}
.clear{
	float:none;
	width:100%;
	display: block;
	height:1px;
	clear: both;
}
a img{
	border:none;
}
img{
max-width:100%;
}
.outer_container{
	width:824px;
	
	margin:0 auto;
	background: #242b33;
}
.top_container{
	width:824px;
	/*padding:20px;*/
	float:left;

}

.header{
background: url("../images/header.jpg") repeat scroll 0 0 transparent;
text-align: center;
width:100%; float:left;

}
.header1{
width:75%; float:right;
margin-top:3px;
}

a.logo{
width:22%; float:left;
text-align:center;
display:block;

}
.slideshow{
width:100%;
float:left;
}
a.logo img{
	float:none;
	max-width:100%;
	max-height:60px !important;
}
.menu{
	display:none;
}	
.menu h3{
	width:100%;
	float:left;
	text-indent:10%;
	line-height: 45px;
	cursor: pointer;
}

.nav{float: left;width:100%;background-color:#eb1c24; height: 47px;}
.nav ul{float:left;}
.nav ul li{list-style:none;float:left;padding-left: 1px;position:relative}
.nav ul li a{
	color:#fff;
	line-height:47px;
	text-decoration: none;
	text-transform:uppercase;
	font-size: 14px;
	font-weight:300;
	padding:0 9px;
	display: block;
}
.Menubar ul li a{
    line-height:35px !important;
    padding:0 19px !important;
}
.nav ul li.activeli{
	background-color:#1b1b1b;
	}
	.nav ul li.activeli a{
	color:#fff;
	}
.nav ul li a:hover{
	background: #1b1b1b;
	color:#fff;
}
*:focus {
    outline: none;
} 
.slide_section{
	width:100%;
	float:left;
	position:relative;
}	
.headin_area{
	width:100%;
	float:left;
	padding:20px 0px 0px 0;
}
.big_heading{
	width:100%;
	float:left;
	color:#fff;
	font-size:23px;
	font-weight:700;
	text-align:center;
	line-height:40px;
	margin-bottom:12px;
}
.smallheading{
	width:100%;
	float:left;
	color:#56cbee;
	font-size:22px;
	font-weight:400;
	text-align:center;
	line-height:30px;
	margin-bottom:12px;
	/*text-transform:uppercase;*/


}
p.readmore{
	width:100%;
	float:left;
	text-align:center;
	padding-bottom: 10px;
}
p.readmore a{
text-decoration:none;
color:#536880;
font-size:18px;
font-weight:300;
}

.products_outer{
	width:100%;
	float:left;
	background: #56cbee;
	padding-top: 5px;
}
.products_box{
	float: left;
    padding-bottom: 0;
    padding-left: 2.6%;
    padding-right: 2%;
    padding-top: 0;
    width: 95.61%;
}
.my_product{
	  width: 174px;
  float: left;
  margin:.2em .3em;
  margin-bottom: 20px;
  background: #FFF;
  padding: .3em;
  height: 290px;
}
/*.mlz{margin-left:auto !important;}*/
.my_product h3{margin: .2em 0;}
.product_name{
color:#fff;
text-align:center;
width:100%;
float:left;
min-height:45px;
margin-bottom:10px;
}
.my_product .fright{font-size: 14px; color: #f00;}
.my_product .fright small{font-size: 14px; text-decoration:line-through; color: #999;}
.product_name a{
text-decoration:none;
font-weight:700;
color:inherit;
}
.pro_img{
	width:100%;
	float: left;
	background: #FFF;
}
.img_center{
	text-align: center;
	vertical-align: middle;
	width:100%;
	}

.img_center img{
	display: block;
  margin: 0 auto;  
  width: 90%;
  height:auto;
  margin: 0 auto;
}
.pro_details{
	width:100%;
	float:left;
	min-height:25px;
	padding-bottom:5px;text-align: center;
	
}
.pro_details  p.price{
	width:100%;
	float: left;
	text-align:center;
	color: #445467;
	font-size:14px;
	padding:5px 0;
	font-weight:700;
	color: #F00;
	
	}
.two_boxes{
width:353px;
float:right;
margin-left:39px;
}
.two_boxes img{
max-width:100%;
}
.two_boxes:first-child{
float:left;
margin-left:0;
}
.boxesheading{
	font-size:24px;
	font-weight:600;
	text-transform:uppercase;
	line-height:30px;
	margin-bottom:20px;
	width:100%;
	float:left;
	color:#56cbee;

}
.imgbox , .img_det{
	width:100%;
	float:left;
	margin-bottom:10px;
}
.img_det{
font-size:14px;
font-weight:600;
color:#fff;
line-height:30px;
}
.content .img_det p{
font-size:14px;
font-weight:600;
color:#fff;
line-height:23px;

}
.content{
	width:96%;
	float:left;
	padding:15px 2%;
	min-height:257px;
}
.padd_content{
min-height:600px;
}
h2.heading{
color:#fff;
}
.min-height-box{
min-height:1002px;
}
.padd_content > ul{
padding-left:30px;
color:#fff;
float:left;
}
.content p{
	color:#fff;
	font-size:14px;
	float:left;
	width:100%;
	font-weight:300;
	line-height: 24px;
	margin-bottom:15px;
}
.bottomLogo{
	width:100%;
	float:left;
	text-align:center;
	padding:20px 0;
        display: none;
}
.footer{
	float:left;
	width:100%;
	}
.footerlinks{
	margin-bottom:20px;
	float:left;
	width:100%;
	text-align:center;
}
.footerlinks li{
display:inline-block;
text-align:center;
	
}
.footerlinks li a{
	font-size:14px;
	color:#666666;
	font-weight: 400;
	text-decoration: none;
	padding:0 8px;
}
.footerlinks li a:hover{
	color:#000;
}
p.copyright{
	font-size:14px;
	color:#666666;
	font-weight: 400;
	text-align:center;
	
}
.item{
	position:relative;
	cursor: move;
}
h2.big{
	position:absolute;
	top:107px;
	left:49%;
	color:#fff;
	 font-family: 'akzidenz-grotesk_bq_extrabold';
	 font-size: 30px;
	 line-height:36px;
	 max-width:49%;
}

.scroll-pane
{
width: 100% !important;
max-height: 740px !important;
overflow: auto !important;
}

.scroll-pane ,.jspContainer,.jspPane{
width: 100% !important;
box-sizing:border-box;
-o-box-sizing:border-box;
-moz-box-sizing:border-box;
-webkit-box-sizing:border-box;
}
.products_outer a.viewAll{
float:right;
font-size:14px;
font-weight:bold;
color:inherit;
padding-right:7px;text-decoration: none;
}
.products_outer a.viewAll:hover{text-decoration: underline}
.price small{
    color: #999;
	text-decoration: line-through;
	}
.myheading{
width:100%;float:left;
padding:10px 20px;
border-bottom:1px solid #1b1b1b;
margin-bottom:10px;
box-sizing:border-box;
-moz-box-sizing:border-box;
-webkit-box-sizing:border-box;
-o-box-sizing:border-box;
-ms-box-sizing:border-box;
color:#fff;
}
#owl-demo .item img{width:824px !important;max-height: 310px !important; max-width: 100% !important}
.pro_details h3 a{color: #445467;font-size: 18px;text-decoration: none;}
.pro_details h3 a:hover{text-decoration: underline;}
.imgbox h3 a{color:#fff;text-decoration: none}
.imgbox h3 a:hover{text-decoration: underline}
label{font-weight: bold}
.logo h2{color:#fff;padding-top:10px; font-size: 20px;}
.contact_form_heading{padding-left: 0px;}
.contact_form_margin{margin-left: 0% !important};
.hand_remove{cursor: default;}
.contform_fieldset{width: 300px; max-width: 300px !important;}
.contform_fieldset textarea{height: 90px; max-height: 90px !important; width:300px; max-width: 300px !important; }